.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drowing-board-container{
    display: grid;
    position:sticky;
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
    box-shadow: 0 5px 5px 5px silver ;
    margin-bottom: 20px;
}
.color-mode-and-div-width-setter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 10px;
    width: 80px;
    height: 60px;
    background-color: white;
    box-shadow:  0 3px 3px 3px silver;
    border: white;
}
button:first-child{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
footer{
    text-align: center;
    margin-top: 30px;
}
.colorPicker{
    margin-top: 10px;
    width: 75px;
    height: 60px;
    background-color: white;
    box-shadow:  0 3px 3px 3px silver;
    border: white;  
}
.divInside{
    border: 1px black;
}